{% extends '_base.html' %}
{% load static %}

{% block title %}
{{ language|upper }} QUIZ
{% endblock %}

{% block body %}
    <h2>{{ language|upper }} QUIZ!</h2>
    {% if not ready %}
        {% include 'quiz/quiz_detail_form.html' %}
    {% elif ready %}
        {% include 'quiz/quiz_form.html' %}
        <a href="{% url 'language_detail' slug=language.slug %}">
        <button>
            new quiz?
        </button>
        </a>
    {% endif %}

{% endblock %}

{% block script %}
    <script src="{% static 'quiz/js/check_quiz_answers.js' %}"></script>
{% endblock %}