{% extends '_base.html' %}

{% block title %}
{{ language|upper }} QUIZ
{% endblock %}

{% block body %}
    <h2>{{ language|upper }} QUIZ!</h2>
    <form action="" autocomplete="off">
    {% for quizword in quizwords %}
        <p id="p{{ quizword.id }}">
            <label for="{{ quizword.id }}" id="{{ quizword.id }}-label">{{ quizword.foreign }}</label>
            <input type="text"
                   correct="{{ quizword.english }}"
                   onchange="checkAns(event)"
                   class="answer-input"
                   id="{{ quizword.id }}"
                   {% if forloop.first %}autofocus{% endif %}>
        </p>
    {% endfor %}
    </form>
{% endblock %}

{% block script %}
    <script>
        function checkAns(e) {
            let input = e.target;
            let correct_value = input.getAttribute('correct');
            if (input.value === correct_value) {
                input.style.borderColor = 'green';
            } else {
                input.style.borderColor = 'red';
                document.getElementById(input.id+'-label').innerText += ' = ' + correct_value;
            }
            input.setAttribute('disabled', true);
            focusNextInput(input);
        }

        function focusNextInput(elem) {
            let next = elem.nextElementSibling;
            if (next === null) {
                let parent = elem.parentElement;
                if (parent !== null) {
                    focusNextInput(parent.nextElementSibling.firstElementChild)
                }
            }
            else if (next.classList.contains('answer-input')) {
                next.focus();
            } else {
                focusNextInput(next);
            }
        }
    </script>
{% endblock %}