{% extends '_base.html' %}
{% load static %}

{% block title %}
{{ language|upper }} QUIZ
{% endblock %}

{% block body %}
    <h2>{{ language|upper }} QUIZ!</h2>
    <form action="" autocomplete="off">
    {% with language.script_set.all.exists as show_script %}
    {% for quizword in quizwords %}
        <p id="p{{ quizword.id }}">
            <label for="{{ quizword.id }}" id="{{ quizword.id }}-label">
                {{ quizword.foreign }} ({{ quizword.script }})</label>
            <input type="text"
                   correct="{{ quizword.english }}"
                   onchange="checkAns(event)"
                   class="answer-input"
                   id="{{ quizword.id }}"
                   {% if forloop.first %}autofocus{% endif %}>
        </p>
    {% endfor %}
    {% endwith %}
    </form>
{% endblock %}

{% block script %}
    <script src="{% static 'quiz/js/check_quiz_answers.js' %}"></script>
{% endblock %}