<form action="" autocomplete="off">
    {% for quizword in quizwords %}
        <p id="p{{ quizword.id }}">
            <label for="{{ quizword.id }}" id="{{ quizword.id }}-label">
                {% if show_script %}
                    {{ quizword.english }} ({{ quizword.script }})
                {% else %}
                    {{ quizword.foreign }}
                {% endif %}
            </label>

            <input type="text" class="answer-input" id="{{ quizword.id }}"
                onchange="checkAns(event)"
                {% if translate_to == 'english'%}
                   correct="{{ quizword.english }}"
                {% elif translate_to == 'foreign' %}
                   correct="{{ quizword.foreign }}"
                {% endif %}
                {% if forloop.first %}autofocus{% endif %}>
        </p>
    {% endfor %}
</form>