{% extends '_base.html' %}
{% load static %}

{% block title %}
    Add word
{% endblock %}

{% block body %}
    <h2>Add new quizword:</h2>

    {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <form method="POST" autocomplete="off">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
{% endblock %}

{% block script %}
    <script src="{% static 'js/show_hide_script_choices.js' %}"></script>
    <script>
        let urlParams = new URLSearchParams(window.location.search);
        if (urlParams.get('language')) {
            Array.from(document.getElementById("id_language").children)
                .find(child => child.innerHTML === urlParams.get('language')).setAttribute('selected', '');
            if (urlParams.get('script') === 'None') {
                document.getElementById('id_script').parentElement.style.display = 'none';
            } else {
                Array.from(document.getElementById("id_script").children)
                    .find(child => child.innerHTML === urlParams.get('script')).setAttribute('selected', '');
            }
        }
    </script>
{% endblock %}