<h3>Select quiz settings:</h3>
<form action="" method="GET">
    <label for="num_qws">Number of words:</label>
    <input type="number" id="num_qws" name="num_qws" min="1" value="10" style="width: 5%" autofocus>
    <label for="translate_to" style="padding-left: 30px">Translate to:</label>
    <select name="translate_to" id="translate_to" style="width: 10%;">
        <option value="english">english</option>
        <option value="foreign">{{ language }}</option>
    </select>
    <p><button type="submit">Start</button></p>
</form>