{% extends '_base.html' %}
{% load static %}

{% block title %}
    Add word
{% endblock %}

{% block body %}
    <h2>Add new quizword:</h2>

    {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <form method="POST">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
{% endblock %}

{% block script %}
    <script src="{% static 'js/show_hide_script_choices.js' %}"></script>
{% endblock %}