{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">


    {% block style %}
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% endblock %}

    <title>
    {% block title %}
        Title
    {% endblock %}
    </title>
</head>
<body>

    <div class="container">
        <div class="header">
            <h2 style="display: inline; padding-right: 30px;"><a href="{% url 'language_list' %}">HOME</a></h2>
            <p style="display: inline; padding-right: 30px;"><a href="{% url 'add_quizword' %}">Add words</a></p>
            <p style="display: inline"><a href="{% url 'quizword_list' %}">All words</a></p>
        </div>

        <div class="content-container body-block-container">
            {% block body %} {% endblock %}
        </div>
    </div>

    {% block script %}{% endblock %}
</body>
</html>